@using PAK_www.Models.Shared
@model Person

@using (Html.BeginForm("EditPerson", "Admin", FormMethod.Post))
{
    @Html.HiddenFor(m => m.PersonId)
    @Html.LabelFor(m => m.LegalName)
    @Html.TextBoxFor(m => m.LegalName)
    @Html.LabelFor(m => m.SceneName)
    @Html.TextBoxFor(m => m.SceneName)
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)
    @Html.LabelFor(m => m.Birthday)
    @Html.TextBoxFor(m => m.Birthday)

    <button type="submit">@(Model?.PersonId > 0 ? "Update" : "Create")</button>
}
