@using PAK_www.Models.Admin
@model EventSearchForm

<form asp-action="EventGrid" asp-controller="Admin" 
      id="eventSearchForm"
      data-ajax="true"
      data-ajax-method="POST" 
      data-ajax-mode="replace" 
      data-ajax-update="#eventGrid">
    @Html.LabelFor(m => m.EventTitle)
    @Html.TextBoxFor(m => m.EventTitle)
    @Html.LabelFor(m => m.FromDate)
    @Html.TextBoxFor(m => m.FromDate)
    @Html.LabelFor(m => m.ToDate)
    @Html.TextBoxFor(m => m.ToDate)
    <button type="submit">Search</button>
</form>